/*Barra de navegacion*/

.navbar {
padding: 2rem;
background-color: #027074;
font-weight: bold;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
        
    }
    
    /*Estilos generales*/
    
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    
h1{
    font-size: 2,5rem; 
    font-family: 'Anton', sans-serif, cursive;
    }
.seccion-oscura {
    color: white;
    background-color: #027074;
    }
.seccion-clara {
    color: black;
    background-color: #a5d4d1;
    }
    
.seccion-titulo {
    font-size: 2rem;
    padding: 15px o;
font-family: 'Anton', sans-serif, cursive;
    }
    
.seccion-descripcion {
font-size: 1.2rem;
color: #fbfffe;
    }
    
    
.seccion-texto {
    font-size: 1.2rem;
        
    }
    
.btn-info {
    font-size: 1.1rem;
    margin: 20px;
    font-weight: bold;
    }
.texto-negro {
color: black;
    }
    
.texto-blanco {
    color: white;
    }
/*seccion hero*/
    
    
.hero {
    background-image: url(imagenes/pexels-pixabay-531880.jpg);
    min-height: 450px;
    text-align: center;
    }
.hero-principal {
    padding: 3rem;
    }
.hero-imagen-perfil {
    width: 220px;
    height: 220px;
    margin: 20px;
    }
.hero-principal h2 {
    font-size: 1.5rem;
    color: #e7e4e4;
    }
    
    
    /* Sobre mi*/
.sobre-mi {
    padding: 10px;
    }
    
.sobre-mi .contenedor {
    max-width: 600px;
    text-align: center;
    }
    
    /*Experiencia*/
    
.experiencia {
    padding: 40px 40px 60px 60px;
    }
    
.experiencia .columna {
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s ease-in;
    }
    
.experiencia .columna:hover {
    color: white;
    background-color: #1b1b32;
    
    }
    
    
    
.experiencia i{
    font-size: 2.5rem;
    color: #32dde9;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
    }
    
.experiencia-titulo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
    }
    
.badges-contenedor {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    }
    
.badge {
    margin: 5px;
    }
    
/*Poyectos*/
    
.proyectos-recientes {
    padding: 40px;
    }
.proyectos-recientes img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
    }
    
.proyectos-contenedor {
    padding-top: 60px;
    margin-bottom: 40px;
    }
    
.overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: traslate(-50%, -50%);
    text-align: center;
    }
.overlay p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
    }
    
.proyecto {
    position: relative;
    }
.proyecto:hover img {
    opacity: 0.2;
    }
    
.proyecto:hover .overlay {
    opacity: 1;
    }
    
.overlay .iconos-contenedor {
    display: flex;
    }
    
.overlay i {
    color: black;
    font-size: 40px;
    margin: 10px;
    }
    
/*Articulos*/
    
.articulos {
    min-height: 500px;
    padding: 30px;
    }
    
.articulos-card {
    width: 80%;
    max-width: 600px;
    margin: 20px;
    }
    
.articulos-card header {
    font-weight: bold;
    }
    
    /*Contacto*/
    
.contacto .container {
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;
    }
    
.contacto .rectangulo {
    background-color: #045658;
    border-radius: 20px;
    box-shadow: 0px 1px 4px 1px white;
    }
    
.contacto .row {
    width: 100%;
    display: flex;
    align-items: center;
    }
    
.contacto .descripcion {
    color: white;
    font-size: 1.2rem
    }
    
.contacto button {
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 0.6em 1em;
    margin: 20px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
    }
    
.contacto button:hover {
background-color: white;
color: black;
    }
    
.contacto button:hover i {
    color: black;
    }
    
.contacto button i {
    color: white;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
    }
    
/*Pie de pagina (footer)*/
    
    
footer {
    min-height: 500px;
    }
    
.footer-logo{
    color: white;
    height: 100 px;
    width: 100px;
    margin: 10px;
    }
    
.footer-texto {
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
    }
    
 .iconos-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid 50% rgb(89, 55, 238);
    border-radius: 50%;
    transition: all 0.2s ease-in;
        }
    
    .iconos-redes-sociales i {
        color: white;
        font-size: 1.5rem;
        transition: all 0.2s ease-in;
        }
     
 .iconos-redes-sociales a:hover {
    background-color: white;
    border: 2px solid rgb(13, 110, 253);
    }
    
 .iconos-redes-sociales a:hover i {
 color: rgb(0, 0, 0);
    }
    
 .derechos-de-autor {
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
    }
    
    /*Adaptable (responsivo)*/
    
@media screen  and (max-width: 400px) {
    .overlay p {
        font-size: 18px;
        }
        
    .overlay i {
        font-size: 40px;
        }
        
    }
    
@media screen and (max-width:767px) {
    .navbar-brand {
        display: none;
        }
    }
@media screen and (min-width: 600px) {
    .hero-inferior-imagen {
        max-width: 600px;
        }
    }